*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

/* Container */

.container{
    display: flex;
    margin: .5rem;
}

.left-content{
    width: 70%;
    /* background: rgb(2,0,36); */
    /* background: linear-gradient(128deg, rgba(2,0,36,1) 0%, rgba(2,2,64,1) 50%, rgba(2,0,36,1) 100%); */
    /* color: #fff; */
    background-color: #fff;
    color: #000;
    letter-spacing: 2px;
    border-radius: 10px;
    margin-right: 2px;
}

.left-content h1{
    text-transform: uppercase;
    text-align: center;
    /* margin-top: .5rem; */
    font-size: 2.5rem;
    /* border-bottom: 5px double #fff; */
    padding-bottom: 1rem;
    font-size: 55px;
}

/* Profile */

.profile{
    /* border: 2px solid darkgreen; */
    margin: 1rem 0;
}

.profile h2{
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0 3rem 0 1rem;
    padding: .5rem 2rem;
    /* background-color: #000; */
    background-color: rgb(227, 226, 226);
    font-size: 45px;
}

.profile p{
    margin: 1rem 3rem 0 1rem;
    font-size: 31.8px;
    line-height: 2.5rem;
}

/* Education */

.education{
    margin: 2rem 0;
    /* border: 2px solid darkgoldenrod; */
}

.education h2{
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0 3rem 0 1rem;
    padding: .5rem 2rem;
    /* background-color: #000; */
    background-color: rgb(227, 226, 226);
    font-size: 45px;
}

.cls{
    margin: 1rem 3rem 0 1rem;
    font-size: 32px;
    text-transform: uppercase;
    font-size: bold;
}

.uname, .year{
    margin: 1rem 0 1rem 2rem;
    font-size: 31px;
}

.pu{
    margin: 2rem 0;
}

/* .portfolio */

.portfolio h2{
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0 3rem 0 1rem;
    padding: .5rem 2rem;
    /* background-color: #000; */
    background-color: rgb(227, 226, 226);
    font-size: 45px;
}

.list{
    margin: 1rem 0 0 2.5rem;
}

.list ul li{
    padding: .5rem 0;
    font-size: 32px;
}

.list ul li a{
    text-decoration: none;
    font-size: 32px;
    /* color: #fff; */
    color: #000;
}

.extra{
    margin: 2rem 0;
}

.extra h2{
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0 3rem 0 1rem;
    padding: .5rem 2rem;
    /* background-color: #000; */
    background-color: rgb(227, 226, 226);
    font-size: 45px;
}

.extra ul{
    margin: 1rem 3rem 0 3rem;
}

.extra ul li{
    padding-bottom: 1rem;
    font-size: 32px;
}

.extra p{
    font-size: 31.8px;
    line-height: 2.5rem;
}

/* Experience */

.experience{
    margin-top: -1rem;
}

.experience h2{
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0 3rem 0 1rem;
    padding: .5rem 2rem;
    /* background-color: #000; */
    background-color: rgb(227, 226, 226);
    font-size: 45px;
}

.experience p{
    margin: 1rem 3rem 2rem 1rem;
    font-size: 31.8px;
    line-height: 2.5rem;
}

.right-content{
    /* background-color: #000; */
    background-color: rgb(227, 226, 226);
    border-radius: 10px;
    width: 30%;
}

.right-content img{
    display: block;
    width: 160px;
    height: 180px;
    /* border-radius: 50%; */
    border-radius: 5px 30px;
    margin: 4rem auto 1rem auto;
    /* border: 3px solid #fff; */
    border: 3px solid black;
}

.right-content h1{
    /* color: #fff; */
    color: #000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-size: 45px;
}

/* Skills */

.skill{
    /* color: #fff; */
    color: #000;
    margin: 3rem 0 2rem 0;
    /* border: 2px solid red; */
    text-transform: uppercase;
    letter-spacing: 2px;
}

.skill h2{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 34px;
}

.s-line{
    /* border-bottom: 5px solid #fff; */
    height: 25px;
    /* margin: 1rem 0 1rem 3rem; */
    margin: .5rem 2rem 2rem 2rem;
    width: 80%;
    /* background-color: #fff; */
    background-color: #fff;
}

.hs, .cs, .rs, .js, .gs{
    height: 25px;
    /* background-color: #020260; */
    background-color: #000;
}

.hs{
    width: 90%;
}

.cs{
    width: 75%;
}

.rs{
    width: 75%;
}

.js{
    width: 20%;
}

.gs{
    width: 50%;
}

.skill p{
    /* margin: 0 3rem; */
    margin-left: 2rem;
    font-size: 32px;
}

/* Languages */

.lang{
    /* color: #fff; */
    color: #000;
    margin: 4rem 0 2rem 0;
    /* border: 2px solid orange; */
    text-transform: uppercase;
    letter-spacing: 2px;
}

.lang h2{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 34px;
}

.l-line{
    /* border-bottom: 5px solid #fff; */
    height: 25px;
    /* margin: 1rem 0 1rem 3rem; */
    margin: .5rem 2rem 2rem 2rem;
    width: 80%;
    /* background-color: #fff; */
    background-color: #fff;
}

.kl, .el, .hl{
    height: 25px;
    /* background-color: #020260; */
    background-color: #000;
}

.kl{
    width: 90%;
}

.el{
    width: 80%;
}

.hl{
    width: 50%;
}

.lang p{
    /* margin: 0 3rem; */
    margin-left: 2rem;
    font-size: 32px;
}

.contact{
    /* color: #fff; */
    color: #000;
    margin: 4rem .3rem 0 .3rem;
    /* border: 2px solid red; */
    letter-spacing: 2px;
    font-size: 29px;
}

.contact h2{
    text-align: center;
    margin: 1rem 0 2.5rem 0;
    text-transform: uppercase;
    font-size: 34px;
}

.contact a{
    display: flex;
    text-decoration: none;
    margin-left: .2rem;
    /* color: #fff; */
    color: #000;
}

.contact p{
    margin-left: .2rem;
    line-height: 2.5rem;
}

.contact i{
    font-size: 35px;
    padding-right: 1rem;
}
